
@{
    ViewData["Title"] = "Ödev Dağıtım Portalı";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
   
    <style>
        .info-box {
            height: 65vh; 
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 1.2em;
            margin-bottom: 20px;
            border-radius: 15px;
        }

            .info-box p {
                margin: 0;
                padding: 20px;
                text-align: center;
            }
    </style>
</head>
<body>
    <div class="container-fluid mt-5">
        <h1 class="text-center mb-4">Ödev Dağıtım Portalına Hoş Geldiniz</h1>
        <hr />

        <div class="row">
            <div class="col-md-3">
                <div class="info-box bg-primary">
                    <p><b>Ödev Dağıtım Portalı Nedir?</b><br /><br />Ödev Dağıtım Portalı, öğrencilerin ve öğretmenlerin ödev yönetimini kolaylaştırmak için tasarlanmış bir dijital platformdur. Bu portal sayesinde öğretmenler, ödevleri hızlı ve etkili bir şekilde dağıtabilir.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-box bg-success">
                    <p><b>Nasıl Kullanılır?</b><br /><br />Portalın kullanımı oldukça basittir. Öğretmenler, ders programlarına uygun olarak ödevler ekleyebilir ve belirli öğrencilere atayabilirler. Öğrenciler ise portal üzerinden ödev detaylarını görebilir, ödevlerini yükleyebilir ve öğretmenlerinden geri bildirim alabilirler.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-box bg-warning">
                    <p><b>Avantajları Nelerdir?</b><br /><br />Ödev Dağıtım Portalı, zaman yönetimi ve verimlilik açısından büyük avantajlar sunar. Öğretmenler, öğrencilerin ödev performansını anlık olarak izleyebilir ve değerlendirmeler yapabilir. Aynı zamanda, öğrenciler de ödevlerini daha düzenli bir şekilde takip edebilir.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-box bg-dark">
                    <p><b>Güvenlik ve Gizlilik</b><br /><br />Portal, kullanıcı bilgilerinin güvenliğini en üst düzeyde tutar. Tüm veriler şifrelenir ve sadece yetkili kişiler tarafından erişilebilir hale getirilir. Bu sayede, öğrencilerin ve öğretmenlerin bilgileri güvenli bir ortamda saklanır ve gizlilikleri korunur.</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

