
@{
    ViewData["Title"] = "HomeworkSubmissions";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h3>Ödev Teslimleri</h3>
<hr />
<br />
<div class="col-md-12">
    <div id="progress"></div>

    <table class="table table-striped" id="tbSubmissions">
        <thead class="bg-dark">
            <tr>
                <th class="text-white">Sınıf İsmi</th>
                <th class="text-white">Ders İsmi</th>
                <th class="text-white">Ödev Başlığı</th>
                <th class="text-white">isim Soyisim</th>
                <th class="text-white">Ödev Gönderilme Tarihi</th>
                <th class="text-white">İndir</th>
                <th class="text-white">Sil</th>


            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            var ApiBaseUrl = "@ViewBag.ApiBaseUrl";
            var token = localStorage.getItem("token"); // Token'ı localStorage'dan alın

            // Tarih biçimini düzenlemek için bir fonksiyon


            if (!token) {
                window.location.href = '~/Home/Login'; // Token yoksa giriş sayfasına yönlendir
            }

            $.ajaxSetup({
                headers: { 'Authorization': 'Bearer ' + token }
            });

            $.ajax({
                url: ApiBaseUrl + "HomeworkSubmission/List",
             
                type: "GET",
                success: function (submissionData) {
                    $.each(submissionData, function (index, i) {
                        $.ajax({
                            url: ApiBaseUrl + "Homeworks/GetById/" + i.homework_id,
                            data: { id: i.homework_id },
                            type: "GET",
                            success: function (homeworkData) {
                            
                                
                                var UserId = i.user_id;

                                $.ajax({
                                    url: ApiBaseUrl + "Lesson/GetById/" + homeworkData.lesson_id,
                                    data: { id: homeworkData.lesson_id },
                                    type: "GET",
                                    success: function (lessonData) {
                                        
                                        var lessonName = lessonData.lesson_name;

                                        var classId = lessonData.class_id;

                                        $.ajax({
                                            url: ApiBaseUrl + "Class/GetById/" + classId,
                                            data: { id: classId },
                                            type: "GET",
                                            success: function (classNameData) {
                                                var className = classNameData.class_name;
                                                $.ajax({
                                                    url: ApiBaseUrl + "User/GetById/" + UserId,
                                                    data: { id: UserId },
                                                    type: "GET",
                                                    success: function (UserData) {
                                                        console.log(UserData)
                                                        $('#tbSubmissions tbody').append(
                                                            '<tr>' +
                                                            '<td>' + className + '</td>' +
                                                            '<td>' + lessonName + '</td>' +
                                                            '<td>' + homeworkData.homework_title + '</td>' +
                                                            '<td>' + UserData.full_name + '</td>' +
                                                            '<td>' + FormatDate(i.updated) + '</td>' +
                                                            '<td><button class="btn btn-primary download-btn" data-submission-id=' + i.file_name + '>İndir</button></td>' + '<td><button class="btn btn-danger delete-btn" data-submission-id=' + homeworkData.homework_id + '>Sil</button></td>' +
                                                            '</tr>'
                                                        );


                                                    },
                                                    error: function () {
                                                        alert("Kullanıcı alınamadı!");
                                                    }
                                                });


                                            },
                                            error: function () {
                                                alert("Sınıf adı alınamadı!");
                                            }
                                        });
                                    },
                                    error: function () {
                                        alert("Ders adı alınamadı!");
                                    }
                                });
                            },
                            error: function () {
                                alert("Ödev alınamadı!");
                            }
                        });
                    });

                },
                error: function () {
                    alert("Ders adı alınamadı!");
                }
            });


            $('#tbSubmissions').on('click', '.delete-btn', function () {
                var row = $(this).closest('tr');
                var submissionId = $(this).data('submission-id');

                if (confirm('Bu ödev teslimini silmek istediğinizden emin misiniz?')) {
                    $.ajax({
                        url: ApiBaseUrl + 'HomeworkSubmission/Delete/' + submissionId,
                        type: 'DELETE',
                        success: function (response) {
                            // Silme başarılıysa satırı kaldır
                            row.remove();
                            alert('Ödev başarıyla silindi.');
                        },
                        error: function (error) {
                            alert('Ödevi silerken bir hata oluştu.');
                        }
                    });
                }
            });
            function FormatDate(d) {
                var date = new Date(d);
                var day = date.getDate() > 9 ? date.getDate() : '0' + date.getDate();
                var month = date.getMonth() + 1 > 9 ? date.getMonth() + 1 : '0' + (date.getMonth() + 1); 
                var year = date.getFullYear();
                return day + "." + month + "." + year; 
            };

        });
    </script>
}
